{% extends "main.html" %}

{% block site_nav %}
{% endblock %}

{% block content %}
    <style>
        .md-typeset .tags {
            max-width: 35rem; 
            margin: 0 auto;
        }
    
    </style>
    <div class="tags">
        {% include "partials/tag-cloud.html" %}
        <hr>
        {% include "partials/tag-page-list.html" %}
    </div>
{% endblock %}
