<!--
  Copyright (c) 2016-2023 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

<style>
  .md-typeset .cover {
      margin-bottom: 1em;
  }
  .md-typeset .page-category {
      color: gray;
      font-size: large;
  }
  .md-typeset .page-title {
      margin-left: -0.0625em;
  }
  .md-typeset .page-extra {
      color: gray;
      font-size: small;
  }
  .md-typeset .page-tags {
      margin: 0;
  }
  .md-typeset .page-date {
      margin: 0;
      text-align: end;
  }
  @media print {
      .md-typeset .cover {
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      .md-typeset .cover + * {
          margin-top: 0;
      }
  }
</style>

<!-- Tags -->
{% if "material/tags" in config.plugins %}
{% include "partials/tags.html" %}
{% endif %}

<!-- Actions -->
{% include "partials/actions.html" %}

<!--
  Hack: check whether the content contains a h1 headline. If it doesn't, the
  page title (or respectively site name) is used as the main headline.
-->
{% if "\x3ch1" not in page.content and not config.extra['no-auto-h1'] %}
<h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}


<!-- custom tags from https://www.codeinsideout.com/-->
{% if page.markdown == '' %}
        
{% else %}
    <div class="page-extra row">
        <div class="col">
            {% if page.meta and page.meta.tags %}
                <span class="page-tags">
                    {% for tag in page.meta.tags %}
                        <a class="tag" href="{{ config.site_url }}tags/#{{tag}}">
                            <span class="tag-name">
                                #{{ tag }} &nbsp;
                            </span>
                        </a>
                    {% endfor %}
                </span>
            {% endif %}
        </div>
        <div class="col">
            <p class="page-date">
                <span>
                    {% if footermatter_updated %}
                    <span class="md-icon footermatter-icon" title="Time since last update"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 13.1c-.1 0-.3.1-.4.2l-1 1 2.1 2.1 1-1c.2-.2.2-.6 0-.8l-1.3-1.3c-.1-.1-.2-.2-.4-.2m-1.9 1.8-6.1 6V23h2.1l6.1-6.1-2.1-2M12.5 7v5.2l4 2.4-1 1L11 13V7h1.5M11 21.9c-5.1-.5-9-4.8-9-9.9C2 6.5 6.5 2 12 2c5.3 0 9.6 4.1 10 9.3-.3-.1-.6-.2-1-.2s-.7.1-1 .2C19.6 7.2 16.2 4 12 4c-4.4 0-8 3.6-8 8 0 4.1 3.1 7.5 7.1 7.9l-.1.2v1.8Z"></path></svg></span>
                    <span class="footermatter-text">{{ footermatter_updated }}</span>
                  {% endif %}
                </span>
            </p>
        </div>
    </div>
{% endif %}

<!-- Page content -->
{{ page.content }}

<!-- Backlink from https://github.com/flashshare/mkdocs-backlinks -->
{% if backlinks %}
<h3>Backlinks:</h3>
<ul>
    {% for backlink in backlinks %}
    <li><a href="/{{ backlink.url }}">{{ backlink.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<style>
    .md-typeset .tags {
        max-width: 35rem; 
        margin: 0 auto;
    }
    .column {
            display: inline-block;
            width: 45%; /* Adjust the width as needed */
            margin: 10px; /* Add margins to separate columns */
            vertical-align: top; /* Align columns at the top */
        }
    /* Media query for mobile screens */
    @media only screen and (max-width: 700px) {
            .column {
                width: 100%; /* Full width for mobile screens */
                margin: 0; /* Remove margins for mobile */
            }
        }

</style>

<div class="column">
    <!-- Recent Posts section -->
    <div class="recent-post-list">
            <h2>Recent Posts</h2>
            <ul>
                {# page collection #}
                {% set  valid_pages=[] %}
                
                {% for p in pages %}
                    {% set pg = p.page %}
                    {% if pg.meta %}
                        {% if pg.meta.date %}
                            {% if pg.meta.date is string %}
                                {% set _ = pg.__setattr__('date', pg.meta.date) %}
                            {% else %}
                                {% set _ = pg.__setattr__('date', pg.meta.date.strftime('%Y-%m-%d')) %}
                            {% endif %}
                            {# use "" to not add spaces in content #}
                            {{ valid_pages.append(pg) or "" }}
                        
                            {% endif %}
                    {% endif %}
                {% endfor %}
                
                {% set blog_pages=[] %}
                
                {% for pg in valid_pages|sort(
                    attribute='date',
                    reverse=True
                )
                %}
                    {# do not list homepage, empty pages, hidden pages #}
                    {% set hidden = true if (pg.meta and pg.meta.hide and ('in_recent_list' in pg.meta.hide)) %}
                    {% if (not pg.is_homepage) and
                        (not pg.markdown == '') and
                        (not hidden)
                    %}
                        {{ blog_pages.append(pg) or "" }}
                    {% endif %}
                {% endfor %}
        
                {% if blog_pages %}
                    {% for post in blog_pages[0:10] %}
                        <li><a href="{{ config.site_url }}{{ post.url }}">{{ post.date}}: {{ post.title }}</a></li>
                    {% endfor %}
                {% endif %}
        
            </ul>
        </div>
</div>


<div class="column">
    <div class="tags">
        <h2>Tag cloud</h2>
        {% from "partials/colors.html" import color %}
    
        {% set tags=[] %}
        
        {# scan all pages #}
        {% for p in pages %}
          {% if p.page.meta.tags %}
            {# extract tags if available #}
            {% for tag in p.page.meta.tags %}
              {% if tags|length %}
                {% set ns = namespace(found=False) %}
                {# read more about scope at 
                https://jinja.palletsprojects.com/en/2.11.x/templates/#assignments
                #}
                {# check if tag exists, append to its page list #}
                {% for item in tags %}
                  {% set t, ps = item %}
                  {% if tag == t %}
                    {% set ns.found = True %}
                    {# use "" to not add spaces in content #}
                    {{ ps.append(p.page) or "" }}
                  {% endif %}
                {% endfor %}
                {# if tag doesn't exist, create new page list#}
                {% if not ns.found %}
                  {{ tags.append((tag, [p.page])) or "" }}
                {% endif %}
              {% else %}
                {{ tags.append((tag, [p.page])) or "" }}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        
        <style>
            .tag-cloud {
                margin-top:0;
                margin-bottom: 0.5em;
            }
            .tag-cloud-content {
                padding: 0 0.6rem;
                text-align: center;
            }
        </style>
        
        <div class="tag-cloud-content">
            {% if tags|count %}
                {% for item in tags %}
                    {% set tag, ps = item %}
                    {# create a link with tag name #}
                    {# font size is based on the page count #}
                    <a class="tag" href="{{ config.site_url }}tags/#{{ tag }}">
                        <span class="tag-name" style="
                            {% set sz = ps|count %}
                                {% if sz > 10 %}
                                    {% set sz = 10 %}
                                {% endif %}
                            {% if page.url == 'tags/' %}
                                font-size:{{ 1.3+sz*0.05}}rem;
                            {% else %}
                                font-size:{{ 0.7+sz*0.05}}rem;
                            {% endif %}
                            color:{{ color( loop.index%12) }};
                        ">
                            {{- tag -}} &nbsp;
                        </span>
                        <!--<sup class="tag-count">{{- ps|count -}}</sup>-->
                    </a>
                {% endfor %}
            {% else %}
                <p>
                    No tag found!
                </p>
            {% endif %}
        </div>
            
    </div>
</div>

<!-- Was this page helpful? -->
{% include "partials/feedback.html" %}

<!-- Comment system -->
{% include "partials/comments.html" %}

