{% if nav %}
    {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}

    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
            </div>
        </div>
    </div>
{% endif %}

<style>
    /* Remove bullet points, increase font size, and make text blue */
    .recent-post-list ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    }
    
    .recent-post-list li {
        font-size: 14px; /* Increase font size */
        color: #777; /* Make text blue */
        margin-left: 0; /* Remove left margin (no indentation) */
    }
    </style>

{% if not "toc.integrate" in features %}
    {% if page.meta and page.meta.hide %}
        {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}

    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
            <div class="md-sidebar__inner">
                {% if not page.is_homepage %}
                    {% include "partials/toc.html" %}
                {% endif %}

                {# Add the recent post list when no TOC is found #}
                <!-- Some copy from https://www.codeinsideout.com/blog/site-setup/add-new-features/?h=tag+cloud#open-external-links -->
                {% if page.is_homepage or not page.toc %}
                    <div class="recent-post-list">
                        <h2>Recent Posts</h2>
                        <ul>
                            {# page collection #}
                            {% set  valid_pages=[] %}
                            
                            {% for p in pages %}
                                {% set pg = p.page %}
                                {% if pg.meta %}
                                    {% if pg.meta.date %}
                                        {% if pg.meta.date is string %}
                                            {% set _ = pg.__setattr__('date', pg.meta.date) %}
                                        {% else %}
                                            {% set _ = pg.__setattr__('date', pg.meta.date.strftime('%Y-%m-%d')) %}
                                        {% endif %}
                                        {# use "" to not add spaces in content #}
                                        {{ valid_pages.append(pg) or "" }}
                                    
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                            
                            {% set blog_pages=[] %}
                            
                            {% for pg in valid_pages|sort(
                                attribute='date',
                                reverse=True
                            )
                            %}
                                {# do not list homepage, empty pages, hidden pages #}
                                {% set hidden = true if (pg.meta and pg.meta.hide and ('in_recent_list' in pg.meta.hide)) %}
                                {% if (not pg.is_homepage) and
                                    (not pg.markdown == '') and
                                    (not hidden)
                                %}
                                    {{ blog_pages.append(pg) or "" }}
                                {% endif %}
                            {% endfor %}

                            {% if blog_pages %}
                                {% for post in blog_pages[0:10] %}
                                    <li><a href="{{ config.site_url }}{{ post.url }}">{{ post.date}}: {{ post.title }}</a></li>
                                {% endfor %}
                            {% endif %}

                        </ul>
                    </div>
                {% endif %}

                {# show tags on the right side if there is no toc there #}
                {% if page.is_homepage or not page.toc %}
                    <div class="tag-cloud-toc">
                        <h2>Tag cloud</h2>
                        {% include "partials/tag-cloud.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
