{% from "partials/colors.html" import color %}

{# styles #}
<style>
    .md-typeset hr {
        margin: 0;
    }

    /* post */
    .md-typeset .post {
        margin-bottom: 1rem;
        padding-bottom: 0.5em;
        border-bottom: .05rem solid var(--md-default-fg-color--lightest);
    }
        .md-typeset .post .post-tags {
        margin: 0;
        text-align: end;
    }
    .md-typeset .twemoji,
    .md-typeset .icon-text,
    .md-typeset .git-revision-date-localized-plugin {
        vertical-align: middle;
        display: inline-block;
    }
    /* pagination */
    .md-typeset .center {
        text-align: center;
    }
    .md-typeset .pagination {
        display: inline-block;
        margin-top: 0.5em;
    }
    .md-typeset .pagination a {
        color: black;
        float: left;
        padding: 0 0.5em;
        margin: 0 0.1em;
        text-decoration: none;
        border-radius: 2em;
    }
    .md-typeset .pagination a.active {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
    }
    .md-typeset .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
</style>

{# title #}
{% if not "\x3ch1" in page.content %}
<h1>{{ page.title | d(config.site_name, true) }}</h1>
{% endif %}

{# description #}
<p>
    {{ page.content }}
</p>

{% if config.extra['blog_list'] %}
    {% set config_pagination = config.extra['blog_list'] %}
{% else %}
    {% set config_pagination = {'pagination': True, 'pagination_message': True, 'pagination_translation': 'posts in'} %}
{% endif %}

{# page collection #}
{% set valid_pages=[] %}
{% for p in pages %}
    {% set pg = p.page %}
    {% if pg.meta and pg.meta.date %}
        {% set date = pg.meta.date | iso_time %}
        {% set _ = pg.__setattr__("date", date) %}
    {% elif page.meta.git_creation_date_localized_raw_iso_date %}
        {% set date = page.meta.git_creation_date_localized_raw_iso_date | iso_time %}
        {% set _ = pg.__setattr__('date', page.meta.git_creation_date_localized_raw_iso_date) %}
    {% else %}
        {% set date = build_date_utc | iso_time %}
        {% set _ = pg.__setattr__('date', date) %}
    {% endif %}
    {% set page_category = pg.url | url_decode | replace('/' ~ pg.title ~ '/', '') | lower %}
    {% set main_category = page.meta.category | lower %}
    {% if main_category in page_category %}
        {{ valid_pages.append(pg) or "" }}
    {% endif %}
{% endfor %}

{% set blog_pages=[] %}
{% for pg in valid_pages | sort(attribute = 'date', reverse=True) %}
    {% set hidden = true if (pg.meta and pg.meta.hidden) %}
    {% if (not pg.is_homepage) and
        (not pg.markdown == '') and
        (not hidden) and not (pg.title == 'index')
    %}
        {% set datetime = pg.date |time_todatetime %}
        {% set dateti=datetime.strftime('%d/%m/%Y') %}
        {% set _ = pg.__setattr__('new_date', dateti) %}
        {{ blog_pages.append(pg) or "" }}
    {% endif %}
{% endfor %}

{% if blog_pages|count > 0 %}
    {# count the number of pages #}
    {% set page_num = 1 %}
    {% if config_pagination['pagination'] %}
        {% set page_num = (blog_pages|count / 10)|round(method='ceil')|int %}
        {% if config_pagination['pagination_translation'] %}
            {% set pagination_translation = config_pagination["pagination_translation"] %}
        {% endif %}
        <div
            id="page_num"
            data-value="{{page_num}}"
        ></div>

        <div class="center">
            <div
                class="pagination"
                id="pagination-top"
            >
                <!-- <a href="#">&laquo;</a> -->
                {% for pg_group in blog_pages|slice(page_num) %}
                    <a
                        class="page-number {% if loop.index==1 %}active{% endif%}"
                        href="#page{{loop.index}}"
                    >
                        {{ loop.index }}
                    </a>
                {% endfor %}
                <!-- <a href="#">&raquo;</a> -->
            </div>
        </div>
    {% endif %}
    {# pagination #}
    <div class="pages">
        {% for pg_group in blog_pages|slice(page_num) %}
            {% if config_pagination['pagination'] %}
                <div
                    class="page"
                    id="page{{ loop.index }}"
                >
            {% endif %}
            {% for pg in pg_group %}
                {% set pg_image = "" %}
                {% set pg_category = "" %}
                {% set pg_description = "" %}
                {% set category_link = "" %}
                {% set pg_title = pg.title %}
                {% if pg_title == "Index" %}
                    {% set pg_title = pg.parent.title %}
                {% endif %}
                {% set main_category = page.meta.category | lower %}
                {% if pg.meta %}
                    {% if pg.meta.title %}
                        {% set pg_title = pg.meta.title %}
                    {% endif %}
                    {% if pg.meta.banner %}
                        {% set pg_image = pg.meta.banner %}
                    {% elif pg.meta.image %}
                        {% set attachmentsFolder = 'attachments' | value_in_frontmatter(config.extra) %}
                        {% set attachmentsFolder = 'assets/img/' if attachmentsFolder is none else config.extra['attachments'] | regex_replace('/$', '') %}
                        {% set pg_image = config.site_url ~ attachmentsFolder ~ '/' ~ pg.meta.image %}
                    {% endif %}
                    {% if pg.meta.category %}
                        {% set pg_category = pg.meta.category | lower | replace(main_category, '') | replace('/', '') | title %}
                        {% if pg_category | length > 1 %}
                            {% set category_link = config.docs_dir ~ "/" ~ page.meta.category ~ '/' ~ pg_category ~ '/index.md' %}
                            {% set category_exists = category_link | page_exists %}
                            {% if category_exists %}
                                {% set link = pg.meta.category %}
                                {% set link = config.site_url ~ link ~ '/' %}
                                {% set pg_category = '<a href="' ~ link ~ '">' ~ pg_category ~ '</a>' %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if pg.meta.description %}
                        {% set pg_description = pg.meta.description | truncate(200)%}
                    {% endif %}
                {% endif %}
                <div class="post">
                    <h4 class="post-title">
                        <a href="{{ pg.canonical_url }}">{{ pg_title }}</a>
                    </h4>
                    <div class="post-info-wrap">
                        <div class="post-info">
                            <small>
                                <span class="twemoji">
                                    {% include ".icons/material/calendar.svg" %}
                                </span>
                                <span class="icon-text">
                                    {{ pg.new_date }}
                                </span>
                                {% for tag in pg.meta.tags %}
                                <a class="tag" href="{{ config.site_url }}tags/#{{tag}}">
                                    <span class="tag-name">
                                        &nbsp; #{{ tag }}
                                    </span>
                                </a>
                                {% endfor %}
                            </small>
                            <p class="post-description">                                
                                {{ pg_description }}
                            </p>
                        </div>
                        {% if pg_image %}
                            <img class="post-banner " src='{{ pg_image }}' />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    {% if config_pagination['pagination'] %}
        <div class="center">
            <div
                class="pagination"
                id="pagination-bottom"
            >
                <!-- <a href="#">&laquo;</a> -->
                
                {% for pg_group in blog_pages|slice(page_num) %}
                <a
                    class="page-number {% if loop.index==1 %}active{% endif%}"
                    href="#page{{ loop.index }}"
                >
                    {{ loop.index }}
                </a>
                {% endfor %}
                <!-- <a href="#">&raquo;</a> -->
            </div>
        </div>
    {% endif %}

    {% if config_pagination["pagination"] and config_pagination["pagination_message"] %}
        <p class="center">Total : <b>{{ blog_pages|count }}</b> {{ pagination_translation }} {{ page_num }} pages.</p>
    {% endif %}

    <script>
        function scrollToTop() {
            // delay a little for css to calculate windows size
            setTimeout(function () {
                window.scrollTo(0, 0);
            }, 100);
        }
    </script>
    {% if config_pagination['pagination'] %}
        <script>
            function activatePaginationLinks(name) {
                var pagination = document.getElementById("pagination-" + name);
                if (pagination) {
                    var links = pagination.getElementsByClassName("page-number");
                    if (links.length) {
                        for (var i = 0; i < links.length; i++) {
                            if (links[i].getAttribute("href") == window.location.hash) {
                                links[i].classList.add("active");
                            } else {
                                links[i].classList.remove("active")
                            }
                        }
                    }
                }
            }

            // show page 1 as default
            
            window.location.hash = "#page1";

            // listen to hash change
            window.onhashchange = function () {
                var hash = window.location.hash;
                const regexp = /^#page[0-9]+$/;
                if (regexp.test(hash)) {
                    var num = parseInt(hash.substr(5));
                    var max = parseInt(document.getElementById('page_num').dataset.value);
                    if (num >= 1 && num <= max) {
                        activatePaginationLinks("top");
                        activatePaginationLinks("bottom");
                        scrollToTop();
                        return;
                    }
                }

                window.location.hash = "#page1";
            }
        </script>
    {% endif %}
{% else %}
    <style>
        .md-typeset .center {
            text-align: center;
        }
    </style>
    <p class="center">
        {% set no_page_found = 'no_page_found' | value_in_frontmatter(config.extra['blog_list']) %}
        {% set no_page_found = 'No pages found!' if no_page_found is none else config.extra['blog_list']['no_page_found'] %}
        {{ no_page_found }}
    </p>
{% endif %}