
.md-header,
.md-nav--primary .md-nav__title[for="__drawer"] {
 background: var(--md-primary-fg-color) url(https://i.imgur.com/SReAi7U.jpg) left center/cover no-repeat;
}

/* .md-typeset {
    font-size: 0.8rem;
} */

.md-tabs {
  background-color: #00000000;
}

.md-grid {
    max-width: 67rem;
}


.md-typeset details.wiki,
.md-typeset .admonition.wiki {
    border-color: transparent;
    background-color: transparent;
}

.md-typeset .wiki>.admonition-title,
.md-typeset .wiki>.summary {
    display: none;
}

.md-typeset .wiki>.admonition-title::before {
    background-color: transparent;
    -webkit-mask-image: var(--md-admonition-icon--grid);
    mask-image: var(--md-admonition-icon--grid);
}

.admonition.wiki {
    float: left;
    margin-right: 0.8rem;
    margin-top: 0;
    width: 11.7rem;
}

.admonition.wiki h1 {
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.admonition.wiki thead {
    display: none;
}

.admonition.wiki table {
    border: 0;
}

/* Custom attributes */

.comments {
  display: none;
}

#left {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: normal;
}

#u {
  text-align: center;
  display: block;
}

#tags {
  background-color: rgba(142, 137, 137, 0.38);
  border-radius: 5px;
}

.hash::before {
  content: "#";
}

.footermatter{
    color: var(--md-default-fg-color--light);
    padding-top: 1ch;
}

.footermatter-authors img{
    border-radius:100%;
    width:1.75rem;
    margin-left: 0.5ch;
    margin-top:-3px;
    overflow:hidden;
    vertical-align: middle;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition:.3s all;
}

.footermatter-authors img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.1);
    transition:.2s all;
}

.footermatter-text{
    margin-inline: 0.5ch;
}

.footermatter-icon{
    display: inline-block;
    vertical-align: middle;
    font-size: .75rem;
    padding-bottom: 2px;
}