/* File dedicated to custom attributes */
/* Get more info here : https://pypi.org/project/mkdocs-custom-tags-attributes/ */

.comments {
  display: none;
}

#left {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: normal;
}

#u {
  text-align: center;
  display: block;
}

#tags {
  background-color: rgba(142, 137, 137, 0.38);
  border-radius: 5px;
}

.hash::before {
  content: "#";
}

[data-md-color-scheme="default"] .hash {
  color: #5f5f60;
  border-radius: 5px;
  background-color: #bfbcbca2;
  padding-left: 5px;
  padding-right: 5px;
}

[data-md-color-scheme="slate"] .hash {
  color: #e2e2e29a;
  border-radius: 5px;
  background-color: #6b6b6b1d;
  padding-left: 5px;
  padding-right: 5px;
}

.citation {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: 1px solid black;
    margin: 0 10%;
    padding:10px;
    border-radius: 5px;
}

.citation > * {
    margin: 0 !important;
}

.link_citation {
	display: inline-block;
    width: 90%;
    text-align: right;
    font-weight: normal;
}

.not_found {
    background-color: rgba(211, 211, 211, 0.521);
    display: inline;
    color: grey;
    border-radius: 5px;
    padding: 5px;
}
